Mode:
  Develop: false
  DoMain : "suis.com"

HttpServer:
  Port: ":3008"

Logs:
  Path: "/Storage/Logs/Gin.log"                  #设置 gin 框架的接口访问日志
     #设置GoSkeleton项目骨架运行时日志文件名，注意该名称不要与上一条重复 ,避免和 gin 框架的日志掺杂一起，造成混乱。
  TextFormat: "json"                                #记录日志的格式，参数选项：console、json ， console 表示一般的文本格式
  TimePrecision: "millisecond"                         #记录日志时，相关的时间精度，该参数选项：second  、 millisecond ， 分别表示 秒 和 毫秒 ,默认为毫秒级别
  MaxSize: 10                                           #每个日志的最大尺寸(以MB为单位）， 超过该值，系统将会自动进行切割
  MaxBackups: 7                                        #保留旧日志最大个数
  MaxAge: 15                                           #保留旧日志最大天数
  Compress: false                                      #日志备份时，是否进行压缩



key:
  PrivateKey: "example_Key"
  Access_Token_OutTime: 7200    #2小时
  Refresh_Token_OutTime: 60480  #7天

WebAuthn :
  rp :
    name: "Suis笔记小说共享网"
    ID : "Suis.love"
  Attestation : "none"  #认证器证明类型
  CryptoType : -7          #服务器支持的加密类型
  AuthenticatorAttachment: "platform "  #用户端向认证器验证身份的类型
  TimeOut : 300
  fmt : "none"



Redis:
  DNS: "localhost:6379"
  DB: 0
  Password: ""

grpc:
  DNS: "127.0.0.1:5001"        #192.168.3.205

Token:
  AkOutTime: 3     #3小时
  RkOutTime: 3*24   #3天


SnowFlake:
  SnowFlakeMachineId: 2
  RollbackThresholdMs: 5


DB:
  SlowThreshold: 5            # 慢 SQL 阈值(sql执行时间超过此时间单位（秒），就会触发系统日志记录)
  Mode : 0
  MySQL:
    IsInitGlobalGormMysql: 1
    IsOpenReadDB: 0 # 随项目启动为gorm db初始化一个全局 variable.GormDbMysql（完全等于*gorm.Db）,正确配置数据库，该值必须设置为: 1
    Write:
      Host: "127.0.0.1"
      DataBase: "Note_Writer"
      Port: 3306
      User: "root"
      Password: "123456789"    #更好的方案：在环境变量中获取
      Charset: "utf8"
      MaxIdleConns: 10
      MaxOpenConns: 128
      ConnMaxLifetime: 60    # 连接不活动时的最大生存时间(秒)
                         # 是否开启读写分离配置（1=开启、0=关闭），IsOpenReadDb=1,Read 部分参数有效，否则Read部分参数直接忽略

    Read:
      Host: "127.0.0.1"
      DataBase: "Note_Reader"
      Port: 3308                        #注意，非3306，请自行调整
      Prefix: "tb_"
      User: "root"
      Password: "123456789"
      Charset: "utf8"
      SetMaxIdleConns: 10
      SetMaxOpenConns: 128
      SetConnMaxLifetime: 60


  #################=====PostgreSQL====#####################################
  # 如果要使用postgresql数据库，请在 app/model 目录，将 users_for_postgres.txt 的内容直接覆盖同目录的 users.go 即可
  PostgreSql:
    IsInitGlobalGormPostgreSql: 0  # 随项目启动为gorm db初始化一个全局 variable.GormDbMysql（完全等于*gorm.Db）,正确配置数据库，该值必须设置为: 1
    Write:
      Host: "127.0.0.1"
      DataBase: "DB_Note"
      Port: 5432
      Prefix: "tb_"
      User: "postgres"
      Pass: "Secret2017~"
      SetMaxIdleConns: 10
      SetMaxOpenConns: 128
      SetConnMaxLifetime: 60

    IsOpenReadDb: 0            # 是否开启读写分离配置（1=开启、0=关闭），IsOpenReadDb=1,Read  部分参数有效，否则Read部分参数直接忽略

    Read:
      Host: "127.0.0.1"
      DataBase: "DB_Note"
      Port: 5432
      Prefix: "tb_"
      User: "postgres"
      Pass: "secret2017"
      SetMaxIdleConns: 10
      SetMaxOpenConns: 128
      SetConnMaxLifetime: 60

